@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@400;500;700;800;900&family=Montserrat:wght@400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: white;
  outline: none;
  border: none;
  font-family: "Montserrat", sans-serif;
}

body {
  background: rgb(32, 29, 29);
  min-width: 100%;
  height: auto;
  width: 100%;
  overflow-x: hidden;
}
img {
  width: 100%;
  height: 100%;
}

:root {
  --main_color: gold;
  --txt_color: rgb(190, 187, 187);
  --bg: rgb(32, 29, 29);
}

h1,
h2,
h3,
h1 span,
h2 span,
h3 span {
  font-family: "Alegreya Sans SC", sans-serif;
}

h1 span,
h2 span,
h3 span {
  color: var(--main_color);
}

.container {
  width: 85%;
  margin: 0 auto;
  /* padding-left: 50px; */
}

/* === general  starts====  */

/* ======button ======== */
button {
  padding: 15px 30px;
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
  background: transparent;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  gap: 20px;
  text-transform: capitalize;
  transition: 0.4s ease;
  cursor: pointer;
}

button i {
  font-size: 20px;
}

/* subheading */
.subheading {
  text-align: center;
  padding: 5px 0;
  position: relative;
  margin: 0 auto;
  font-size: 15px;
  width: fit-content;
  color: var(--txt_color);
}

.subheading::before,
.subheading::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 2px;
  background: var(--main_color);
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.subheading::before {
  content: "";
  left: -120px !important;
}
.subheading::after {
  content: "";
  right: -120px !important;
}

/* === general  ends====  */

/* ===========================nav starts========================== */

nav {
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  flex-direction: column;
}

/* nav .part1 {
  display: flex;
  align-items: center;
} */

nav .part1 .logo {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 80px;
  cursor: pointer;
  background: rgb(32, 30, 30);
  z-index: 1000;
}

nav .part1 .logo.active .menu_btn {
  display: none;
}
nav .part1 .logo.active h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 80px;
}

nav .part1 .logo .menu_btn {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

nav .part1 .logo .menu_btn i {
  font-size: 40px;
}

nav .part1 .logo h1 {
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  text-transform: uppercase;
}

nav .part1 .logo h1 span {
  margin-left: -2px;
}

nav .part1 .social {
  background: rgb(32, 30, 30);
  position: fixed;
  top: 0;
  left: 80px;
  display: flex;
  height: 80px;
  width: 100vw;
  align-items: center;
  gap: 50px;
  padding-left: 50px;
  border-left: 1px solid grey;
  border-bottom: 1px solid grey;
  z-index: 1000;
}

nav .part2 {
  position: fixed;
  left: 0;
  top: 80px;
  border-top: 1px solid grey;
  border-right: 1px solid grey;
  width: 80px;
  height: 100vh;
  background: rgb(32, 30, 30);
}

nav .part2 .links {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  transform: rotate(90deg);
}

nav .part2 .links a {
  text-transform: capitalize;
  font-size: 13px;
  display: flex;
  gap: 5px;
  margin-left: 30px;
  /* background: red; */
}
/* ===========================nav ends========================== */

/* =============================home starts============================== */

.home {
  display: flex;
  height: 700px;
  align-items: center;
  justify-content: space-between;
  /* margin-top: 100px; */
}
.home .img {
  height: 100%;
  width: 40%;
}
.home .txt {
  width: 60%;
  padding-left: 100px;
}
.home .txt .greet {
  font-size: 15px;
  text-transform: capitalize;
  color: var(--txt_color);
}

.home .txt .moving-text {
  display: inline-flex;
  height: 80px;
  width: 100%;
  overflow: hidden;
  background: rgb(32, 29, 29);
}

.home .txt .dynamic-text h1 {
  font-size: 65px;
  margin-right: 20px;
  text-transform: uppercase;
}

.home .txt .static-text {
  position: relative;
  animation: move 12s steps(4) infinite;
  top: 0;
}
@keyframes move {
  100% {
    top: -310px;
  }
}
.home .txt .static-text h1 span {
  position: relative;
  color: gold;
  font-size: 65px;
  text-transform: uppercase;
}

.home .txt .static-text h1 span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(32, 29, 29);
  left: 0;
  transition: ease;
  animation: write 3s steps(10) infinite;
}
@keyframes write {
  100% {
    left: 100%;
    margin-left: 70px;
  }
}

.home .txt p {
  padding: 10px 0;
  font-size: 15px;
  line-height: 25px;
  color: var(--txt_color);
}

.home .txt .btns {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 50px;
}

.home .txt .btns button:first-child {
  background: var(--main_color);
  color: white;
  border-color: var(--main_color);
}
.home .txt .btns button:first-child:hover {
  background: transparent;
}
.home .txt .btns button:last-child {
  background: transparent;
  border-color: var(--main_color);
}
.home .txt .btns button:last-child:hover {
  background: var(--main_color);
}

/* =============================home ends============================== */

/* =============================about starts============================== */
.about {
  min-height: 100vh;
  height: 100%;
  margin-top: 70px;
}

.about h2 {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}

.about h2 span {
  color: var(--main_color);
}

.about .about_con {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about .about_con .img {
  width: 40%;
  height: 550px;
  position: relative;
}

.about .about_con .img::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100%;
  height: 100%;
  border: 3px solid var(--main_color);
  z-index: -1;
}

.about .about_con .txt_con {
  width: 50%;
}

.about .about_con .txt_con .txt {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.about .about_con .txt_con .txt > div p {
  display: flex;
  align-items: center;
  gap: 20px;
  color: rgba(255, 255, 255, 0.377);
  text-transform: capitalize;
  font-size: 15px;
  padding-bottom: 25px;
}

.about .about_con .txt_con .btn {
  margin-top: 20px;
}

.about .about_con .txt_con .btn button {
  background: var(--main_color);
}
.about .about_con .txt_con .btn button:hover {
  background: transparent;
  border-color: var(--main_color);
}

/* =============================about ends============================== */

/* =============================experience part starts============================== */
.experience-wrapper {
  display: flex;
  margin-top: 100px;
  border-top: 1px solid rgba(128, 128, 128, 0.301);
  padding-top: 40px;
  gap: 30px;
}

.experience-wrapper .wrapper h2 {
  font-size: 30px;
  text-align: center;
}

.experience-wrapper .wrapper .box_con {
  margin-top: 40px;
  border-left: 1px solid var(--main_color);
  padding-left: 30px;
}

.experience-wrapper .wrapper .box_con .box {
  margin-bottom: 50px;
  position: relative;
}

.experience-wrapper .wrapper .box_con .box::before {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  top: 0;
  left: -30px;
  transform: translateX(-50%);
  border: 2px solid var(--main_color);
  background: var(--bg);
}

.experience-wrapper .wrapper .box_con .box h4 {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  padding-bottom: 10px;
  color: var(--txt_color);
}

.experience-wrapper .wrapper .box_con .box h3 {
  font-size: 18px;
}

.experience-wrapper .wrapper .box_con .box p {
  padding: 20px 0;
  font-size: 15px;
  color: var(--txt_color);
}

/* =============================experience part ends============================== */

/* =============================skill part starts============================== */
.skill_section {
  height: fit-content;
  margin-top: 40px;
}

.skill_section h2 {
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
}

.skill_section .wrapper {
  margin-top: 20px;
}

.skill_section .wrapper .box_con {
  margin-bottom: 30px;
}

.skill_section .wrapper .box_con h4 {
  text-transform: uppercase;
  font-size: 15px;
  color: var(--txt_color);
}

.skill_section .wrapper .box_con .box {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.skill_section .wrapper .box_con .box p {
  padding: 15px 20px;
  border: 1px solid var(--main_color);
  font-size: 15px;
}
/* =============================skill part ends============================== */

/* =============================portfolio section starts============================== */
.project_section {
  margin-top: 100px;
}

.project_section h2 {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}

.project_section .wrapper {
  margin-top: 40px;
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.project_section .wrapper .box {
  height: 300px;
  min-width: 300px;
  flex: 1;
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
}

.project_section .wrapper .box img {
  filter: grayscale(100%);
  transition: 0.4s ease;
}
.project_section .wrapper .box img:hover {
  filter: grayscale(0);
}

/* =============================portfolio section ends============================== */

/* =============================blog section starts============================== */
.blog_section {
  margin-top: 100px;
  height: fit-content;
}

.blog_section h2 {
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
}

.blog_section .wrapper {
  margin-top: 40px;
  display: flex;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.blog_section .wrapper .box {
  min-width: 400px;
  flex: 1;
  cursor: pointer;
}

.blog_section .wrapper .box .img {
  height: 300px;
  border-radius: 5px;
  overflow: hidden;
}

.blog_section .wrapper .box .img img {
  transition: 0.4s ease;
}
.blog_section .wrapper .box:hover .img img {
  transform: scale(1.05);
}

.blog_section .wrapper .box .txt {
  margin-top: 10px;
}

.blog_section .wrapper .box .txt h4 {
  font-size: 18px;
  text-transform: capitalize;
}

.blog_section .wrapper .box .txt p {
  font-size: 15px;
  padding: 20px 0;
  color: var(--txt_color);
}

.blog_section .wrapper .box .txt button {
  background: var(--main_color);
  border-color: var(--main_color);
}
.blog_section .wrapper .box .txt button:hover {
  background: transparent;
}
/* =============================blog section ends============================== */

/* =============================contact section starts============================== */

.contact_section {
  margin-top: 100px;
}

.contact_section h2 {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}

.contact_section .wrapper {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.contact_section .wrapper .txt {
  width: 40%;
}

.contact_section .wrapper .txt .box {
  margin-bottom: 30px;
}

.contact_section .wrapper .txt .box h4 {
  text-transform: uppercase;
  font-size: 13px;
  color: var(--txt_color);
}

.contact_section .wrapper .txt .box p {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 5px 0;
  font-size: 15px;
}

.contact_section .wrapper .txt .box p i {
  font-size: 20px;
  color: var(--main_color);
}

.contact_section .wrapper .txt .social p {
  gap: 20px;
  padding-top: 20px;
}
.contact_section .wrapper .txt .social p i {
  padding: 10px;
  border: 1px solid var(--main_color);
  border-radius: 50%;
  cursor: pointer;
}

.contact_section .wrapper .txt .social p i:hover {
  background: var(--main_color);
  color: white;
}

.contact_section .wrapper form {
  width: 50%;
}

.contact_section .wrapper form p {
  font-size: 15px;
  color: var(--txt_color);
  padding-bottom: 30px;
}

.contact_section .wrapper form .input {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.contact_section .wrapper form .input input {
  padding: 15px 10px;
  flex: 1;
  background: rgba(83, 83, 83, 0.13);
  border-radius: 5px;
}

.contact_section .wrapper form textarea::placeholder,
.contact_section .wrapper form .input input::placeholder {
  text-transform: capitalize;
}

.contact_section .wrapper form textarea {
  width: 100%;
  padding: 15px 10px;
  border-radius: 5px;
  background: rgba(83, 83, 83, 0.13);
  height: 300px;
}

.contact_section .wrapper form button {
  background: var(--main_color);
  margin-top: 20px;
  border-color: var(--main_color);
}

.contact_section .wrapper form button:hover {
  background: transparent;
}
/* =============================contact section ends============================== */

/* =============================footer section starts============================== */
footer {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}

footer h3 {
  font-size: 15px;
  color: grey;
}
/* =============================footer section ends============================== */
